---
import Article from "@/components/blog/Article.astro";
import TagSelector from "@/components/selector/TagSelector.astro";
import MainLayout from "./MainLayout.astro";


---

<MainLayout title="Blog">

 
    <div class="max-w-content-size mx-auto w-full bg-dark-blue">
      <TagSelector/>
      <section class="mt-6 w-full">
        <ul class="space-y-8">
         <slot/>
        </ul>
      </section>
    </div>
  </MainLayout>
  